/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
    display: flex;
}

.container{
    width: 75%;
    margin: 0 auto;
}


/* Header */

header{
    background-color: #add8e6;
    height: 100px;
    display: flex;
    align-items: center;
}

.col-header{
    height: 50px;
    background-color: #daa520;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
}

.col-20-r{
    width: 20%;
    justify-content: flex-end;
    padding-right: 10px;
}

.col-20-l{
    width: 20%;
    justify-content: flex-start;
    padding-left: 10px;
}

.col-60{
    width: 60%;
    justify-content: center;
}


/* First box */

.first-box-type{
    background-color: #00008b;
}

.container-small{
    width: 60%;
    margin: 0 auto;
    height: 360px;
}

.col-first-box{
    width: 100%;
    border: 1px solid #000000;
    height: 300px;
    background-color: #ee82ee;
    margin: 30px 0;
}


/* 1/3 and 3/3 row box */

.second-box-type{
    background-color: #ffffff;
    height: 460px;
    padding: 30px 0;
}

.col-65{
    height: 400px;
    width: 65%;
    background-color: #1e90ff;
    border: 1px solid #000000;
}

.col-35{
    height: 400px;
    width: 35%;
    background-color: #ffc0cb;
    border: 1px solid #000000;
}


/* 2/3 row box */

.third-box-type{
    background-color: #d3d3d3;
    height: 460px;
    padding: 30px 0;
}


/* Big green box */

.fourth-box-type{
    background-color: #d3d3d3;
    height: 560px;
    padding: 30px 0;
}

.col-1100{
    height: 500px;
    width: 100%;
    background-color: #228b22;
    border: 1px solid #000000;
}


/* Footer 1 */

.footer-1{
    background-color: #23272a;
    padding: 10px 0;
}

.col-30{
    background-color: #f08080;
    border: 1px solid #000000;
    width: 30%;
    height: 300px;
}

.col-70{
    background-color: #20b2aa;
    border: 1px solid #000000;
    width: 70%;
    height: 300px;
}

.col-25{
    width: 25%;
    height: 300px;
    border: 1px solid #ffffff;
}

hr{
    color: #ffffff;
}


/* Footer 2 */

.footer-2{
    background-color: #23272a;
    height: 70px;
    display: flex;
    align-items: flex-end;
}

.col-100{
    background-color: #7fffd4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 60px;
}

.btn{
    background-color: #ffb6c1;
    border: 1px solid #000000;
    padding: 2px;
}